body {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.box {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.container {
    width: 1600px;
    height: 80px;
     max-width: 100%;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-left: 215px;

}

.logo-web {
    color: #2196f3;
}

.logo-studio {
    color: #000000;
}

.nav-list {
    width: 100%;
  display: flex;
  justify-content: space-between;
 text-align: center;
}
.nav-list-item {
    padding-right: 25px;
    padding-left: 25px;
}
.header-contacts-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-link:hover,
.nav-link:focus {
    color: #2196f3;
}

.contacts-link {
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #2196f3;
}
.contacts-item {
    padding-left: 25px;
    padding-right: 25px;
}
/* Main */
.hero {
    background: #2f303a;
    outline: 2px solid black;
    height: 600px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
   padding-top: 200px;
}

.hero-button {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    background-color: #2196f3;
}

/* Друга секція */
.features {
    width: 1170px;
    height: 98px;
    margin-left: auto;
    margin-right: auto;
    /* margin-right: 215px;
    margin-left: 215px; */
}
.features-title {
    opacity: 0;
}

.features-name {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.features-list {
    display: flex;
    justify-content: space-between;
}
.features-list-item {
    padding-left: 15px ;
    padding-right: 15px;
}
.features-name-decs {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* What We Do */
.service {
    width: 1170px;
    height: 386px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    /* margin-left: 215px;
    margin-right: 215px; */
    margin-bottom: 94px;
}
.service-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.service-list {
    display: flex;
    justify-content: space-between;
    
}
.service-list-item {
    padding-left: 15px;
    padding-right: 15px;
}

/* Our Team */
.team {
    width: 1600px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}
.team-title {
    font-size: 36px;
    text-align: center;
    color: #212121;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-name-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.team-list {
    display: flex;
    justify-content: space-between;
}

/* Footer */
footer {
    width: 1600px;
    height: 252px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f303a;
}

.logo-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-logo-web {
    color: #2196f3;
}
.footer-logo-studio {
    font-family: "Oleo Script";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.address-name {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.address-contacts {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}